@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 11% 96%;
    --foreground: 0 0% 22%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 22%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 22%;

    --primary: 174 56% 39%;
    --primary-foreground: 0 0% 100%;

    --secondary: 40 9% 93%;
    --secondary-foreground: 0 0% 22%;

    --muted: 40 9% 93%;
    --muted-foreground: 210 8% 40%;

    --accent: 40 9% 93%;
    --accent-foreground: 0 0% 22%;

    --destructive: 356 55% 53%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 8% 85%;
    --input: 210 8% 85%;
    --ring: 174 56% 39%;

    --radius: 0.5rem;

    --warning: 24 60% 50%;
    --warning-foreground: 0 0% 100%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans 3', sans-serif;
  }
}
